<nav class="navbar">
    <!-- Brand link to the landing page -->
    <a class="navbar-brand text-white" id="pagetitle" href="/static_pages/landing"> Beta Dev - Split the Bill </a>
    <div class="buttons">
        <!-- Link to the sign-up page -->
        <a class="nav-item nav-link button" href="<%= new_user_registration_path %>"> Sign Up </a>
        <!-- Link to the login page -->
        <a class="nav-item nav-link button" href="<%= new_user_session_path %>"> Login </a>
    </div>
</nav>