<%# This partial renders the navigation bar for trip-related actions. %>
<%# It includes links to show trip details and expenses. %>
<div id="trip-nav">
    <a id="show-trip-details" class="nav-item">Show Trip Details</a>
    <a id="show-expenses" class="nav-item">Show Expenses</a>
</div>
