<div class="landing-container">
    <div class="tagline">
        <h1>Enjoy your next group trip - stress free!</h1>
        <h4>Split the Bill makes sharing expenses easy - and intuitive.</h4>
    </div>
    <div class="landing-image">
        <%= image_tag 'airplane.jpg', alt: 'Airplane' %>
    </div>
</div>
<div class="quote-container">
    <h4 class="website-catchphrase">
        "The best way to make memories is to share them."
    </h4>
</div>
<div class="features-container">
    <h2>Features</h2>
    <div class="card-container">
        <div class="card">
            <svg xmlns="http://www.w3.org/2000/svg" width="9rem" height="9rem" fill="currentColor" class="card-img-top  bi-airplane" viewBox="0 0 16 16">
                <path d="M6.428 1.151C6.708.591 7.213 0 8 0s1.292.592 1.572 1.151C9.861 1.73 10 2.431 10 3v3.691l5.17 2.585a1.5 1.5 0 0 1 .83 1.342V12a.5.5 0 0 1-.582.493l-5.507-.918-.375 2.253 1.318 1.318A.5.5 0 0 1 10.5 16h-5a.5.5 0 0 1-.354-.854l1.319-1.318-.376-2.253-5.507.918A.5.5 0 0 1 0 12v-1.382a1.5 1.5 0 0 1 .83-1.342L6 6.691V3c0-.568.14-1.271.428-1.849m.894.448C7.111 2.02 7 2.569 7 3v4a.5.5 0 0 1-.276.447l-5.448 2.724a.5.5 0 0 0-.276.447v.792l5.418-.903a.5.5 0 0 1 .575.41l.5 3a.5.5 0 0 1-.14.437L6.708 15h2.586l-.647-.646a.5.5 0 0 1-.14-.436l.5-3a.5.5 0 0 1 .576-.411L15 11.41v-.792a.5.5 0 0 0-.276-.447L9.276 7.447A.5.5 0 0 1 9 7V3c0-.432-.11-.979-.322-1.401C8.458 1.159 8.213 1 8 1s-.458.158-.678.599"/>
            </svg>
            <h5 class="card-body">See all your trips at a glance, and easily access the details of each one.</h5>
        </div>
        <div class="card">
            <svg xmlns="http://www.w3.org/2000/svg" width="9rem" height="9rem" fill="currentColor" class="card-img-top  bi-cash" viewBox="0 0 16 16">
                <path d="M8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
                <path d="M0 4a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V6a2 2 0 0 1-2-2z"/>
            </svg>
            <h5 class="card-body">Keep track of who paid for what, and how much each person owes.</h5>
        </div>
        <div class="card">
            <svg xmlns="http://www.w3.org/2000/svg" width="9rem" height="9rem" fill="currentColor" class="card-img-top bi-people-fill" viewBox="0 0 16 16">
                <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/>
            </svg>
            <h5 class="card-body">Quickly add your friends to your trips, and keep track of their contact information.</h5>
        </div>
    </div>
</div>